body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial;
    font-size: 150%;
    background-color: #dcaa89;
}

.Main {
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    display: inline;
    font-size: 70px;
    color: #ffeae1;
}

nav {
    display: inline;
    padding: 15px;
}

.nava {
    padding: 20px;
    padding-top: 100%;
    padding-bottom: 42px;
    color: #ffeae1;
    text-decoration: none;
}

    .nava:hover {
        background-color: #4c848d;
    }

a.link {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: #4c848d;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}

    a.link:hover {
        background-color: #30525c;
    }

header {
    background-color: #30525c;
    width: 100%;
    padding: 30px;
    top: 0;
    left: 0;
}

footer {
    background-color: #30525c;
    padding: 20px;
    width: 100%;
    color: #ffeae1;
}

.EmployeeDisplay {
    display: flex;
    align-items: flex-start; 
    gap: 30px; 
    margin-bottom: 20px;
}

.Bio {
    display: flex;
    flex-direction: column;
}

.Headshot {
    width: 400px;
    object-fit: cover;
}

fieldset {
    background-color: #ffeae1;
    padding: 30px;
}

    fieldset + fieldset {
        margin-top: 15px;
    }