body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial;
    font-size: 150%;
}

div {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}

h1 {
    display: inline;
    font-size: 70px;
}

nav {
    display: inline;
    padding: 15px;
}

a {
    background-color: cadetblue;
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

    a:hover {
        background-color: white;
        color: cadetblue;
    }

    a.link {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 0 auto;
    }

header {
    position: fixed;
    background-color: #EC5800;
    width: 100%;
    padding: 30px;
    top: 0;
    left: 0;
}

    header::after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 80px;
        background-image: linear-gradient(to bottom, rgba(236, 88, 0, 1), rgba(236, 88, 0, 0));
    }

footer {
    background-color: #EC5800;
    padding: 20px;
    width: 100%;
}
