body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial;
    font-size: 150%;
    background-color: #dcaa89;
    width: 100%;
}

.Main {
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    display: inline;
    font-size: 70px;
    color: #ffeae1; 
}

nav {
    display: inline-block;
    padding: 15px;
    margin-right: 20px;
    margin-left: auto;
}

.nava {
    padding: 20px;
    padding-top: 100%;
    padding-bottom: 45.5px;
    color: #ffeae1;
    text-decoration: none;
}

    .nava:hover {
        background-color: #4c848d;
    }

a.link {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    color: #ffeae1;
    background-color: #4c848d;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}

    a.link:hover {
        background-color: #30525c;
    }

header {
    background-color: #30525c;
    width: 100%;
    padding: 30px;
    top: 0;
    left: 0;
}

footer {
    background-color: #30525c;
    padding: 20px;
    width: 100%;
    color: #ffeae1;
    margin: 0px;
}

.EmployeeDisplay {
    display: flex;
    align-items: flex-start; 
    gap: 30px; 
    margin-bottom: 20px;
}

.Bio {
    display: flex;
    flex-direction: column;
}

.Headshot {
    width: 400px;
    object-fit: cover;
}

fieldset {
    background-color: #ffeae1;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

    fieldset + fieldset {
        margin-top: 15px;
    }

.bookformfeildset {
    padding-top: 20px;
    padding-bottom: 30px; 
}

td {
    padding-left: 15px;
    font-size: 30px;
}

.td2 {
    padding-top: 20px;
}

.bookform {
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    text-align:center;
}

@media (max-width: 1550px) { 

    .nava {
        padding: 10px;
        padding-bottom: 46px;
    }
}

.cal {
    background-color: white;
    text-align: center;
    width: 410px;
}

    .cal a {
        text-decoration: none; 
    }

    .cal .title {
        text-align: center;
        width: 100%;
    }

    .cal td {
        padding: 5px;
    }

.center {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.check input[type="checkbox"] {
    transform: scale(1.7);
    margin: 8px;
    align-items: center;
}